<h1>Job</h1>

<label name="title">
  Title
  {{input value=job.title}}
</label>
<label name="type">
  type
  {{input value=job.type}}
</label>
<label name="description">
  description
  {{input value=job.description}}
</label>

<button id="save"
        {{action "save"}}
        disabled={{isSaving}}>
  {{#if isSaving}}
    Saving
  {{else}}
    Save
  {{/if}}
</button>
