<h1>{{title}}</h1>
<h3><a {{bind-attr href=company.url}}>{{company.name}}</a> | {{location}}</h3>
<img {{bind-attr src=company.logo}}/>
<h5>Posted: {{postedAt}} | Job Type: {{type}}</h5>
<div class="content">
  {{description}}
</div>
